---
---

$color-highlight: #254DEE;
$color-page: #fff;
$color-text: #212529;
$color-link: darken(#254DEE, 10%);

@import 'basecss';
@import 'syntax';
@import 'base';
@import 'styles';
@import 'header';