// General Styling
// --------------- //

body {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  line-height: 1.5;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: dashed 1px;
  border-color: $link-color;
  border-color: rgba($link-color, 0.3);

  &:hover {
    border-bottom-style: solid;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05;
  margin: 0.9em 0 0 0;
}

ol, ul {
  padding: 0 0 0 2em;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.1em 0.3em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 0.9em;
}

pre {
  border-left: solid 2px #eee;
  padding: 5px 0 5px 10px;
  max-width: 50em;
  line-height: 1.4em;
  word-wrap: normal;
  overflow: auto;

  & > code {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
    font-size: 0.85em;
    white-space: pre;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 0.95em;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 720px;
  }
}

// Specific Styling

footer {
  text-align: center;
  padding: 1.2em 0;
  color: darken(#b2b2b2, 20%);
}
