.header-link {
  padding-bottom: 0.2rem;
  color: $color-text;
  border-bottom-style: none;

  &:hover {
    color: $color-link;
  }
  &.is-active {
    border-bottom: solid 1px lighten($color-text, 50%);

    &:hover {
      border-bottom-color: lighten($color-link, 40%);
    }
  }
}

.header-logo {
  &:hover {
    border: none;
  }
}

@media only screen and (min-width: 800px) {
  .header-nav {
    display: inline-block;
  }
}