.page {
  margin-top: 8px;
  min-height: calc(100vh - 4px);
}

.header-link {
  padding-bottom: 0.2rem;
  color: $color-text;
  border-bottom-style: none;

  &:hover {
    color: $color-link;
  }
  &.is-active {
    border-bottom: solid 1px lighten($color-text, 50%);

    &:hover {
      border-bottom-color: lighten($color-link, 40%);
    }
  }
}

.header-logo {
  position: relative;
  display: inline-block;
  width: 265px;
  height: 60px;
  background-image: url("vba-blocks.png");
  background-repeat: no-repeat;
  background-size: 265px 60px;
  text-indent: -9999px;
}

@media only screen and (min-width: 800px) {
  .header-nav {
    display: inline-block;
  }
}

.vba-blocks {
  font-weight: 500;
}